/* scrollbar */
*::-webkit-scrollbar {
    display: none;
}

/* Track */
*::-webkit-scrollbar-track {
    display: none;
}

/*Handle*/
*::-webkit-scrollbar-thumb {
    display: none;
}

@font-face {
    font-family: 'Marlett24';
    src: url('../fonts/Marlett.ttf') format('truetype');
}

body {
    -moz-user-select: none;
    /* Firefox私有属性 */
    -webkit-user-select: none;
    /* WebKit内核私有属性 */
    -ms-user-select: none;
    /* IE私有属性(IE10及以后) */
    -khtml-user-select: none;
    /* KHTML内核私有属性 */
    -o-user-select: none;
    /* Opera私有属性 */
    user-select: none;
    /* CSS3属性 */
}