/* scrollbar */
*::-webkit-scrollbar {
    display: none;
}

/* Track */
*::-webkit-scrollbar-track {
    display: none;
}

/*Handle*/
*::-webkit-scrollbar-thumb {
    display: none;
}

@font-face {
    font-family: 'Marlett24';
    src: url('../fonts/Marlett.ttf') format('truetype');
}

@font-face {
    font-family: 'CangErJinKai';
    src: url('../fonts/CangErJinKai.ttf') format('truetype');
}

html {
    background-size: 100% 100%;
}

body {
    -moz-user-select: none;
    /* Firefox私有属性 */
    -webkit-user-select: none;
    /* WebKit内核私有属性 */
    -ms-user-select: none;
    /* IE私有属性(IE10及以后) */
    -khtml-user-select: none;
    /* KHTML内核私有属性 */
    -o-user-select: none;
    /* Opera私有属性 */
    user-select: none;
    /* CSS3属性 */
    padding-bottom: 70px;
    /* Font */
    font-family:
        'CangErJinKai',
        ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

audio {
    display: -webkit-inline-box;
}

br.thin {
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.5rem !important;
}

.btn {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.has-shadow {
    box-shadow: 0 0 0 2px oklch(var(--b2));
}

.btm-nav {
    height: 60px;
    margin: 3px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}